.primary-footer {
    background-color: var(--bs-secondary);
    color: #fff;

    .footer-top {
        border-top: none;
        border-bottom-color: var(--bs-secondary-tint);
    }

    a {
        &:hover {
            color: rgb(0,0,0,0.8);
        }
    }
}

.footer-bottom {
    .social-links {
        a {
            background: var(--bs-tertiary-1-shade);

            &:hover {
                background: $white;

                i {
                    color: var(--bs-secondary);
                }
            }

            i {
                color: var(--bs-secondary);
                font-size: 1.25rem;
            }
        }
    }
}