.primary-header {
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
}

:not(.nav-drawer) > .primary-nav {
    &.menu-top {
        & > li {
            &:hover {
                color: var(--bs-secondary);
            }
        }
    }
}

.primary-nav-container .sub-menu {
    li {
        a {
            padding: 7px 20px;

            .sub-menu-icon {
                display: none;
            }

            &:hover {
                &:before {
                    content: '';
                    background: var(--bs-secondary);
                }
            }

            &:hover .bi-arrow-right {
                fill: var(--bs-secondary);
            }
        }
    }
}