:root {
    --borderRadius: 10px;

    --bs-body-font-family: Calibri, Candara, Segoe, "Segoe UI", Helvetica, Arial, sans-serif;

    --bs-primary: #ED892B;
    --bs-primary-shade: #DD7513;
    --bs-primary-tint: #F09F54;

    --bs-secondary: #007993;
    --bs-secondary-shade: #00687F;
    --bs-secondary-tint: #00A3C8;

    --bs-tertiary-1: #B6DA58;
    --bs-tertiary-1-shade: #A5D234;
    --bs-tertiary-1-tint: #C0E070;

    --bs-tertiary-2: #4A9EA6;
    --bs-tertiary-2-shade: #40878E;
    --bs-tertiary-2-tint: #5FB0B7;

    --eyebrow-color: var(--bs-tertiary-2);
}