:root {
    --borderRadius: 10px;

    --bs-primary: #26438C;
    --bs-primary-shade: #213A78;
    --bs-primary-tint: #3155B1;

    --bs-secondary: #E62A30;
    --bs-secondary-shade: #CF181E;
    --bs-secondary-tint: #E9474D;
}