@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Services Landing Page

.services-intro {
    @include margin(40px 0 90px 0);
}

.services-facets {
    .facet-label {
        margin-bottom: 1em;
    }

    .facetwp-counter {
        display: none;
    }

    button.facetwp-reset {
        @extend .btn;
        @extend .btn-primary;
    }
}

.facetwp-template {
    .layout-grid.services {
        margin: 0;
    }
}

// Service Single

.service-container {
    @include padding-top(50px);

    .content-column {
        order: 2;

        @include media-breakpoint-up(lg) {
            order: 1;
            padding-right: 40px;
        }

        h1 {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }

    .sidebar-column {
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
            order: 2;
            margin-bottom: 0;
        }
    }

    .service-content {
        div[class*="layout"] {
            @include margin(60px 0);

            &:not(:last-child) {
                @include padding-bottom(60px);
                border-bottom: 1px solid var(--bs-gray-300);
            }
        }


    }
}

.service-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: 40px;
    padding: 20px 0 0 0;
    background: var(--bs-white);
    border-bottom: 1px solid var(--bs-gray-300);
    overflow-x: scroll;

    ul {
        white-space: nowrap;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: var(--bs-gray-300);

        li {
            display: inline-block;
            margin-right: 20px;

            a {
                position: relative;
                display: block;
                text-decoration: none;
                color: inherit;
                padding-bottom: 10px;

                &:hover {
                    color: $primary;
                }

                &.active {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background: $secondary;
                    }
                }
            }
        }
    }
}

.service-sidebar {
    position: sticky;
    top: 20px;
    background: var(--bs-secondary);
    padding: 30px;
    border-radius: var(--borderRadius);

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    div[class*=col] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.service-sidebar-box {
    background: var(--bs-white);
    padding: 25px 20px 18px 20px; /* Bottom has -7px to account for tag items margin-bottom */
    margin-bottom: 10px;
    height: calc(100% - 10px);
    border-radius: var(--borderRadius);

    .service-sidebar-box-header {
        display: block;
        font-size: 0.625rem;
        font-weight: 700;
        margin-bottom: 10px;

        &.service-name {
            color: var(--bs-tertiary-2);
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    h2 {
        color: var(--bs-secondary);
        margin-bottom: 0;
    }
}

.service-category-pills {
    list-style: none;
    margin: 0;
    padding: 0;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    li, span {
        font-size: 0.75rem;
        font-weight: 700;
        float: left;
        padding: 7px 12px;
        margin: 0 7px 7px 0;
        background: var(--bs-gray-300);
        border-radius: 20px;
    }
}

.related-services {
    h2 {
        @include margin-bottom(60px);
    }
}