/* Universal Grid */
.layout-grid {
  clear: both; /* Fixes float issue on woocommerce product/category grid */
}
.layout-grid .header h1, .layout-grid .header .h1,
.layout-grid .header h2, .layout-grid .header .h2,
.layout-grid .header h3, .layout-grid .header .h3 {
  color: var(--header-color);
}
.layout-grid .header h1, .layout-grid .header .h1 {
  margin-bottom: 1.08em;
}
.layout-grid .header h2, .layout-grid .header .h2, .layout-grid .header h3, .layout-grid .header .h3 {
  margin-bottom: 2.5em;
}

/* Icon and Blurb */
.layout-grid.icon-and-blurb div[class*=col].grid {
  margin-bottom: calc(1.5625rem + 3.75vw);
}
@media (min-width: 1200px) {
  .layout-grid.icon-and-blurb div[class*=col].grid {
    margin-bottom: 4.375rem;
  }
}
.layout-grid.icon-and-blurb img {
  margin-bottom: calc(1.3125rem + 0.75vw);
  max-width: 70px !important;
  height: auto !important;
}
@media (min-width: 1200px) {
  .layout-grid.icon-and-blurb img {
    margin-bottom: 1.875rem;
  }
}
.layout-grid.icon-and-blurb p {
  font-size: 1rem;
  margin-bottom: 0.625em;
}
.layout-grid.icon-and-blurb p:last-child {
  margin-bottom: 0;
}
.layout-grid.icon-and-blurb a {
  color: var(--bs-primary);
  text-decoration: none;
}
.layout-grid.icon-and-blurb a:hover {
  text-decoration: underline;
}

/* Info Boxes */
.layout-grid.info-boxes .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.info-boxes div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.info-boxes .card {
  height: 100%;
}
.layout-grid.info-boxes .card:has(a):hover .card-title {
  color: var(--link-hover-color);
}
.layout-grid.info-boxes .card-img-top {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 2.12/1;
}
.layout-grid.info-boxes .card-img-top img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.layout-grid.info-boxes [data-image-as-icon="1"] .card-img-top img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto !important;
  max-height: 60%;
  object-fit: inherit;
}
@media (max-width: 1199.98px) {
  .layout-grid.info-boxes p {
    font-size: 1rem;
  }
}
.layout-grid.info-boxes p:last-child {
  margin-bottom: 0;
}

/* Articles & Services */
.layout-grid.articles .container-lg .row:last-child .row,
.layout-grid.services .container-lg .row:last-child .row,
.layout-grid.pages .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.articles div[class*=col].grid,
.layout-grid.services div[class*=col].grid,
.layout-grid.pages div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.articles .text-center h1,
.layout-grid.services .text-center h1,
.layout-grid.pages .text-center h1 {
  margin-bottom: 1.2em;
}
.layout-grid.articles .card,
.layout-grid.services .card,
.layout-grid.pages .card {
  height: 100%;
  border: none;
  border-radius: 0;
  /* Used for Related Services on service single pages */
}
.layout-grid.articles .card:hover .card-title,
.layout-grid.services .card:hover .card-title,
.layout-grid.pages .card:hover .card-title {
  color: var(--link-hover-color);
}
.layout-grid.articles .card .card-body,
.layout-grid.services .card .card-body,
.layout-grid.pages .card .card-body {
  padding: 15px 0 0 0;
}
.layout-grid.articles .card .image,
.layout-grid.services .card .image,
.layout-grid.pages .card .image {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 2.12/1;
  background: #eeeeee;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
.layout-grid.articles .card img,
.layout-grid.services .card img,
.layout-grid.pages .card img {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  max-width: none !important;
  object-fit: cover;
}
.layout-grid.articles .card .date,
.layout-grid.services .card .date,
.layout-grid.pages .card .date {
  font-size: 1rem;
  margin: 0;
}
.layout-grid.articles .card p.excerpt,
.layout-grid.services .card p.excerpt,
.layout-grid.pages .card p.excerpt {
  font-size: 1rem;
}
.layout-grid.articles .card .service-category-pills,
.layout-grid.services .card .service-category-pills,
.layout-grid.pages .card .service-category-pills {
  margin-top: 15px;
}
.layout-grid.articles .btn,
.layout-grid.services .btn,
.layout-grid.pages .btn {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .layout-grid.articles .btn,
  .layout-grid.services .btn,
  .layout-grid.pages .btn {
    margin-top: 3.125rem;
  }
}

/* Team Members */
.layout-grid.team-members .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.team-members div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.team-members .card {
  height: 100%;
}
.layout-grid.team-members .card .title {
  font-size: 1rem;
}
.layout-grid.team-members .card a {
  font-size: 1.125rem;
  color: var(--bs-primary);
  text-decoration: none;
}
.layout-grid.team-members .card a:hover {
  text-decoration: underline;
}
.layout-grid.team-members img {
  height: auto !important;
  width: 100% !important;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Team Member Drawer */
#team-members-bio-drawer .btn-close {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  position: absolute;
  right: 15px;
  top: 15px;
}
#team-members-bio-drawer .btn-close svg:hover {
  color: var(--link-hover-color);
}
#team-members-bio-drawer .offcanvas-body {
  padding-top: 35px;
}
#team-members-bio-drawer .team-member {
  display: none;
}

/* Artist Profiles */
.layout-grid.artist-profiles .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.artist-profiles div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.artist-profiles .artist-card:hover .artist-name {
  color: var(--link-hover-color);
}
.layout-grid.artist-profiles a {
  color: inherit;
  text-decoration: none;
}
.layout-grid.artist-profiles img {
  width: 100% !important;
  height: 100% !important;
  max-width: 180px !important;
  aspect-ratio: 1/1;
  border-radius: 180px;
  object-fit: cover;
  margin-bottom: 15px;
}
.layout-grid.artist-profiles h3 {
  margin: 0;
}

/* Product Categories */
.layout-grid.product-categories .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.product-categories div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.product-categories .card {
  height: 100%;
  border: none;
  border-radius: 0;
}
.layout-grid.product-categories .card:hover .card-title {
  color: var(--link-hover-color);
}
.layout-grid.product-categories .card .card-body {
  padding: 25px 0 0 0;
}
.layout-grid.product-categories .image {
  width: 100%;
  aspect-ratio: 1.56/1;
  background: var(--bs-gray-100);
}
.layout-grid.product-categories .image img {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  aspect-ratio: inherit;
  object-fit: cover;
  border-radius: var(--borderRadius);
}
.layout-grid.product-categories .product-count {
  margin: 0;
}
@media (max-width: 1199.98px) {
  .layout-grid.product-categories .product-count {
    font-size: 1rem;
  }
}

/* Products */
.layout-grid.products .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.products div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.products .card {
  height: 100%;
  border: none;
  border-radius: 0;
}
.layout-grid.products .card:hover .card-title {
  color: var(--link-hover-color);
}
.layout-grid.products .card .card-body {
  padding: 25px 0 0 0;
}
.layout-grid.products .card .card-body h3 a {
  text-decoration: none;
  color: inherit;
}
.layout-grid.products .card .card-body p.product-count {
  margin: 0;
}
.layout-grid.products .image {
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--bs-gray-100);
}
.layout-grid.products .image img {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  aspect-ratio: inherit;
  object-fit: cover;
  border-radius: var(--borderRadius);
}

.layout-grid.external-links .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.external-links div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.external-links .card {
  height: 100%;
}
.layout-grid.external-links .card:hover .card-title {
  color: var(--link-hover-color);
}
.layout-grid.external-links .card-title:last-child {
  margin-bottom: 0;
}

/* Logos */
.layout-grid.logos .container-lg .row:last-child .row {
  margin-bottom: -1.5rem;
}
.layout-grid.logos div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-grid.logos .card {
  aspect-ratio: 1.87/1;
}
.layout-grid.logos .card-body {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.layout-grid.logos img {
  max-width: 60% !important;
  max-height: 70% !important;
  height: auto !important;
  object-fit: contain;
}

/**************************
 Admin specific styles
 *************************/
.layout-grid.is-preview {
  margin-top: 20px;
  margin-bottom: 20px;
}
.layout-grid.is-preview .header h2 {
  font-size: 26px !important;
  font-weight: 700;
  padding: 0 !important;
  margin-bottom: 0.5em !important;
}
.layout-grid.is-preview .card-title {
  font-size: 20px;
}
.layout-grid.is-preview .card {
  margin: 0 !important;
}

/* Info Boxes */
.layout-grid.info-boxes.is-preview .card {
  padding: 0;
}

/* Articles */
.layout-grid.articles.is-preview .card {
  padding: 0;
}

/* Pages */
.layout-grid.pages.is-preview .card {
  padding: 0;
}

/* Team Members */
.layout-grid.team-members.is-preview .card {
  padding: 0;
}

/* Products */
.layout-grid.products.is-preview .card {
  padding: 0;
  margin: 0;
}

/* Logos */
.layout-grid.logos.is-preview .card {
  padding: 0;
  margin: 0;
}