@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-list-group {

    .header {
        @include margin-bottom(40px);

        h2 {
            color: var(--bs-secondary);
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .column2 {
        margin-top: $grid-gutter-width;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    .column {
        height: 100%;
        padding: 50px;
        border: 1px solid var(--bs-gray-400);
        border-radius: var(--borderRadius);
    }

    .h4 {
        margin: 2em 0 1.3em 0;
        color: var(--header-color);

        &:first-child {
            margin-top: 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            line-height: 1.3em;
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
        }
    }
}

/**************************
 Admin specific styles
 *************************/

.layout-list-group.is-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}