.layout-stats {

    div[class*=col] {
        margin-bottom: var(--bs-gutter-x);
    }

    h2, .h2 {
        color: var(--header-color);
    }

    .stat-wrapper {
        height: 100%;
        border: 1px solid var(--bs-gray-400);
        padding: 50px 30px;
        border-radius: var(--borderRadius);
        box-shadow: var(--cardBoxShadow);

        img {
            margin-bottom: 15px;
            max-width: 70px !important;
            height: auto !important;
        }

        p {
            margin-left: auto;
            margin-right: auto;
            max-width: 136px; /* TODO Make this a responsive size */
        }
    }
}

/**************************
 Admin specific styles
 *************************/

.layout-stats.is-preview {
    margin-top: 0;
    margin-bottom: 0;
}