.layout-stats div[class*=col] {
  margin-bottom: var(--bs-gutter-x);
}
.layout-stats h2, .layout-stats .h2 {
  color: var(--header-color);
}
.layout-stats .stat-wrapper {
  height: 100%;
  border: 1px solid var(--bs-gray-400);
  padding: 50px 30px;
  border-radius: var(--borderRadius);
  box-shadow: var(--cardBoxShadow);
}
.layout-stats .stat-wrapper img {
  margin-bottom: 15px;
  max-width: 70px !important;
  height: auto !important;
}
.layout-stats .stat-wrapper p {
  margin-left: auto;
  margin-right: auto;
  max-width: 136px; /* TODO Make this a responsive size */
}

/**************************
 Admin specific styles
 *************************/
.layout-stats.is-preview {
  margin-top: 0;
  margin-bottom: 0;
}